.container {
  display: flex;
  margin-top: 10px;
  .others {
    flex: 4;
    background-color: yellow;
  }

  .link {
    width: 100%;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    color: inherit;
    text-decoration: none;

    &.active,
    &:hover {
      background-color: rgb(228, 228, 250);
    }
  }
}
