.product-list {
    flex: 4;
  
    .product-list-user {
      display: flex;
      align-items: center;
  
      .product-list-img {
        width: 32px;
        height: 32px;
        margin-right: 10px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  
    .product-list-edit {
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      background-color: #3bb077;
      color: #fff;
      cursor: pointer;
      margin-right: 20px;
    }
  
    .product-list-delete {
      color: red;
      cursor: pointer;
    }
  }
  
