.product {
  flex: 4;
  padding: 20px;

  .product-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .product-title {
    }

    .product-add-button {
      width: 80px;
      padding: 5px;
      border: none;
      border-radius: 5px;
      background: teal;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
    }
  }

  .product-top {
    display: flex;
    align-items: center;

    .product-top-left,
    .product-top-right {
      flex: 1;
    }

    .product-top-right {
      margin: 20px;
      padding: 20px;
      -webkit-box-shadow: 0px 0px 15px -10px #000;
      box-shadow: 0px 0px 15px -10px #000;

      .product-info-top {
        .product-info-img {
          width: 40px;
          height: 40px;
          margin-right: 20px;
          border-radius: 50%;
          object-fit: cover;
        }

        .product-name {
          font-weight: 600;
        }
      }

      .product-info-bottom {
        margin-top: 10px;

        .product-info-item {
          display: flex;
          justify-content: space-between;
          width: 150px;

          .product-info-key {
          }

          .product-info-value {
          }
        }
      }
    }
  }

  .product-bottom {
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px #000;
    box-shadow: 0px 0px 15px -10px #000;

    .product-form {
      display: flex;
      justify-content: space-between;

      .product-form-left {
        display: flex;
        flex-direction: column;

        > label {
          margin-bottom: 10px;
          color: gray;
        }

        > input {
          margin-bottom: 10px;
          padding: 5px;
          border: none;
          border-bottom: 1px solid gray;
        }

        > select {
          margin-bottom: 10px;
        }
      }

      .product-form-right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .product-upload {
          display: flex;
          align-items: center;

          .product-upload-img {
            width: 100px;
            height: 100px;
            margin-right: 20px;
            border-radius: 10px;
            object-fit: cover;
          }
        }

        .product-button {
          padding: 5px;
          border: none;
          border-radius: 5px;
          background-color: darkblue;
          color: #fff;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
}
