@import "../../App.scss";

.featured {
  position: relative;
  height: 90vh;

  .category {
    position: absolute;
    top: 80px;
    left: 50px;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    color: #fff;

    select {
      margin-left: 20px;
      padding: 5px;
      background-color: var(--main-color);
      cursor: pointer;
      border: 1px solid #fff;
      color: #fff;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info {
    position: absolute;
    left: 50px;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 35%;

    img {
      width: 400px;

      @include mobile {
        width: 60vw;
      }
    }

    .desc {
      margin: 20px 0px;
      font-size: 16px;
      color: #fff;
      line-height: 1.3;
      @include mobile {
        width: 60vw;
      }
    }

    .buttons {
      display: flex;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;

        &:first-of-type {
          margin-right: 10px;
        }

        &.play {
          background-color: #fff;
          color: var(--main-color);
        }

        &.more {
          background-color: gray;
          color: #fff;
        }

        span {
          margin-left: 5px;
        }
      }
    }
  }
}
